/* src/App.css */
.App {
  padding-top: 0; /* Remove top padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

section {
  padding-top: 4rem; /* Remove horizontal padding */
  max-width: 100%; /* Allow full width */
  margin: 0; /* Remove margins */
}